
// Custom font
@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/SourceSerifPro/SourceSerifPro-It.ttf.woff2') format('woff2'),
         url('../fonts/SourceSerifPro/SourceSerifPro-It.otf.woff') format('woff'),
         url('../fonts/SourceSerifPro/SourceSerifPro-It.otf') format('opentype'),
         url('../fonts/SourceSerifPro/SourceSerifPro-It.ttf') format('truetype');
}

$brand-color1: #EDF0E9;
$brand-color2: #274448;
$brand-color3: #FFFFFF;

// Custom Button Color
.btn-brand-1{
	@include button-variant($brand-color1, darken($brand-color1, 7.5%), darken($brand-color1, 10%), lighten($brand-color1,5%), lighten($brand-color1, 10%), darken($brand-color1,30%));
}
.btn-brand-2{
	@include button-variant($brand-color2, darken($brand-color2, 7.5%), darken($brand-color2, 10%), lighten($brand-color2,5%), lighten($brand-color2, 10%), darken($brand-color2,30%));
}

.btn-outline-brand-1 {
    @include button-outline-variant($brand-color1, $brand-color2, lighten($brand-color1,5%), $brand-color1);
}
.btn-outline-brand-2 {
    @include button-outline-variant($brand-color2, $brand-color2, lighten($brand-color2,5%), $brand-color2);
}

// Custom Bacground Color
.bg-brand-1{
	background-color: $brand-color1;
	color: $brand-color2;
}
.bg-brand-2{
	background-color: $brand-color2;
	color: $brand-color1;
}
.bg-brand-3{
	background-color: $brand-color3;
	color: $brand-color2;
}

// Custom text color
.color-brand-1{ color: $brand-color1; }
.color-brand-2{ color: $brand-color2; }
.color-brand-3{ color: $brand-color3; }

// Decoration
.decor{
	position: absolute;
	z-index: 1;
	&.kanan{
		right: 0;
		top: 0;
	}
}

// Clip Path Foto Pengantin
.clip-foto{ clip-path: url(#clip-foto); }

body{
	background-color: $brand-color1;
	color: $brand-color2;
	font-family: 'Source Serif Pro', $font-family-sans-serif;
	font-weight: 400;
	b, strong{
		font-weight: 600;
	}
}

.slick-dots li.slick-active button:before{
	color: $brand-color2;
}

.section-heading{
	color: $brand-color2;
	font-weight: 300;
}

#penerima{
	.decor01{
		top: -95px;
		left: -10px;
	}
	.decor02{
		top: -75px;
		right: -25px;
	}
}

#pengantin-nama{
	h1{
		color: $brand-color2;
		font-family: 'Engagement', $font-family-sans-serif;
		font-size: 75px;
		font-weight: 400;
		transform: rotate(-7.8deg);
		position: relative;
		z-index: 2;
	}
	.frame-nama{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: calc(-329px/2);
		margin-top: calc(-329px/2);
		z-index: 1;
	}
	.decor03{
		left: -55%;
		top: -4%;
	}
	.decor04{
		right: -10%;
		bottom: -26%;
	}
}

#akad-resepsi{
	.decor05{
		top: 0;
		left: 0;
	}
	.decor06{
		top: 50%;
		right: 0;
	}
}

#qr-code{
	.decor03{
		left: -50%;
		top: 50%;
		margin-top: calc(-475px/2);
	}
}

#ucapan-doa{
	.decor04{
		top: 0;
		right: -58px;
	}
}

#quote{
	.decor05{
		top: 0;
		left: -30px;
	}
	.decor06{
		bottom: 0;
		right: -36px;
	}
}

@include media-breakpoint-up(md){
	
}

@include media-breakpoint-up(lg){

}

@include media-breakpoint-up(xl){

}
